html, body, h1, h2, h3, h4, h5, h6 {
	font-family: "samsungSharpSans", "Comic Sans MS", cursive, sans-serif;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}

.margin-4 {
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 4px;
	margin-right: 4px;

}

.margin-top-10 {
	margin-top: 10px;
}

.text-decoration--none {
	text-decoration: none
}

.image--blur:before {
	background-repeat:round;
   background-size:cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px) !important
}

/* /color 2022 */
.w3-circle {
    border-radius: 15%;
}
.w3-teal,.w3-hover-teal:hover{color:#fff!important;background-color:#be3455!important}
.w3-text-teal,.w3-hover-text-teal:hover{color:#be3455!important}
